.top-bar {
  background-color:rgba(137, 193, 219, 0.521);
  width: 100%;
  height: 40px;
  color: rgb(26, 10, 119);
  margin-bottom: 12px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
}

.top-bar-item {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  border-left: 1px solid;
  font-weight: 600;
  margin-left: 6px;
  padding-left: 6px;
}

.top-bar-item:hover {
  color: rgba(31, 4, 150, 0.329);
  cursor: pointer;
}
